# .miscellaneous/*
# !.miscellaneous/problems.txt
# .vscode/*
# .gitignore
# *.code-workspace
# /Contests
# /A2OJ
/*LeetCode
*.exe
*.class
*tempCodeRunnerFile
*tempCodeRunnerFile.*
*temp.*
todaysPost.txt
input.txt
output.txt

//
problems.json